.divas1{
 margin-top: 150px;

}
.divaspirmas {
    width: 20%;
    float: left;
    
    
}
.divasantras {
    width: 20%;
    float: left;
    margin-left: 5%;
    
}
.divastrecias {
    width: 20%;
    float: left;
    margin-left: 5%;
}
.divasketvirtas {
    width: 20%;
    float: left;
    margin-left: 5%;
}
.containerh1 {
    color: orange;
}